<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CRM-Map Callback Client</title>

        <style>
            html {
                background-color: #215279 !important;                
            }
            body {

                    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;


                margin: 50px auto;
                padding: 3em;
                width: 100%;
                text-align: center;
                color: #aaa;
                font-size: 18px;
                max-width: 500px;

                background-color: white;
    background-image: -webkit-linear-gradient(top, #ffffff 0px, #e1e1e1 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0px, #e1e1e1 100%);
    background-image: -webkit-gradient(top, #ffffff 0px, #e1e1e1 100%);
    background-image: -o-linear-gradient(top, #ffffff 0px, #e1e1e1 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0px, #e1e1e1 100%);
    background-image: linear-gradient(top, #ffffff 0px, #e1e1e1 100%);
            
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <img src="https://maps.crm-map.com/img/HorizontalLogo.png"style="max-width:400px"/>
        <div>Callback Client V1</div>

            <p>Try <a href="http://crm-map.com">CRM-Map</a></p>

            <p><a href="http://support.crm-map.com">CRM-Map Support</a></p>

    </body>
</html>
